model_backups/*
presentation
xxARCHIVE
.ipynb_checkpoints
__pycache__
data/kuzushiji49/test
data/kuzushiji49/train
data/kuzushiji49/k49_classmap.csv
functions/__pycache__
initial_findings/.ipynb_checkpoints
!model_backups/tf_gen_kanji
