mod4project/model_backups/*
mod4project/presentation
mod4project/xxARCHIVE
**/.ipynb_checkpoints
**/__pycache__
**/.mypy_cache
mod4project/data/kuzushiji49/test
mod4project/data/kuzushiji49/train
mod4project/data/kuzushiji49/k49_classmap.csv
!mod4project/model_backups/tf_gen_kanji
